*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  --font-size: 2rem;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: var(--font-size);
  background-color: #e5e5e5;
}

input, button {
  font-size: var(--font-size);
}

.mb-2{
  margin-bottom: 2rem;
}


